{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Maharani</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <main class="portfolio-page">

    <section class="hero-card">

      <div class="left-section">
        <p class="label">PORTOFOLIO</p>

        <h1>Halo, Saya <span>Maharani Najla Khonsanova</span></h1>

        <h2>Mahasiswa Sains Data</h2>

        <p class="description">
            “Saya adalah mahasiswa Sains Data yang memiliki ketertarikan pada analisis data, machine learning, dan pengembangan web 
            untuk menciptakan solusi digital yang inovatif, efektif, dan berbasis data.”
        </p>

        <div class="contact-list">
          <div class="contact-item">
            <div class="icon">✉</div>
            <div>
              <h4>Email</h4>
              <p>maharani2367@gmail.com</p>
            </div>
          </div>

          <div class="contact-item">
            <div class="icon">☎</div>
            <div>
              <h4>Telepon</h4>
              <p>+6285211487931</p>
            </div>
          </div>

          <div class="contact-item">
            <div class="icon">🏠</div>
            <div>
              <h4>Alamat</h4>
              <p>Salatiga, Jawa Tengah</p>
            </div>
          </div>
        </div>
      </div>

      <div class="photo-section">
        <div class="photo-frame">
          <img src="{% static 'image/fotoku.png' %}" alt="Foto Profil">
        </div>
      </div>

      <div class="right-section">

        <div class="info-card">
          <h3>Skills</h3>
          <div class="tag-list">
            <span>Python</span>
            <span>SQL</span>
            <span>Machine Learning</span>
            <span>Visualisasi Data</span>
            <span>Statistik</span>
            <span>Analisis Data</span>
          </div>
        </div>

       
        <div class="info-card">
          <h3>Project</h3>
          <ul class="project-list">
          <li>Simulasi Dinamis Deforestasi menggunakan Python</li>
          <li>Desain Web Manajemen Tugas Harian menggunakan HTML, CSS, JavaScript, dan XAMPP</li>
          <li>Karya Ilmiah Forecasting Indonesia's Digital Economic Growth Through QRIS Transaction Volume using the ARIMA Method</li>
         </ul>
        </div>

        <div class="info-card education-card">
          <h3>Education & Certificate</h3>

          <div class="education-content">
            <div>
              <h4>Sains Data</h4>
              <p>2024 - 2027</p>
            </div>

            <div>
              <h4>Sertifikat</h4>
              <p>Best Paper Artikel Prosiding AICIEB</p>
              
            </div>
          </div>
        </div>

        <div class="info-card">
          <h3>Software / Tools</h3>
          <div class="tag-list">
            <span>VS Code</span>
            <span>Jupyter</span>
            <span>Google Colab</span>
            <span>SQL</span>
            <span>GitHub</span>
            <span>SPSS</span>
            <span>Eviews</span>
            <span>Microsoft Excel</span>

          </div>
        </div>

      </div>

    </section>

  </main>
</body>
</html>
